body {
	margin:0;}
		#tablecss {
	    	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	    	border-collapse: collapse;
	    	width: 100%;
		}
	
		#tablecss td, #tablecss th {
	    	border: 1px solid #ddd;
	    	padding: 8px;
	    
	    	
		}
	
		#tablecss tr:nth-child(even){background-color: #f2f2f2;}
	
		#tablecss tr:hover {background-color: #ddd;}
	
		#tablecss th {
	    	padding-top: 12px;
	    	padding-bottom: 12px;
	    	text-align: center;
	    	background-color: #6959CD;
	    	color: white;
		}
}
